@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font-size: 18px;
  font-family: 'Satoshi', sans-serif;
  line-height: 1.5;
  font-weight: 400;

/* Font Variables */

  --f-biggest: 11.089rem;
  --f-bigger: 6.854rem;
  --f-big: 4.236rem;
  --f-small: 2.618rem;
  --f-smaller: 1.618rem;
  --f-smallest: 1rem;
  --f-mini: 0.618rem;

/* Color Variables */

  --primary-color: #000000;
  --secondary-color: #ffffff;
  --accent-color: #fafafa;
  --shade-color: #333;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body{
  margin: 3rem;
}
a{
  text-decoration: none;
  color: black;
}

.main-text > h1{
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0em;
}

.main-text > h2{
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0;
}

.main-text > p{
  font-family: 'Fraunces', serif;
  color: #73777B;
  width: 80%;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 1em 0em 1em 0em;
}

.main > p{
  width: 50%;
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  opacity: 0.4;
}

.high{
  text-decoration: none;
  font-family: 'Fraunces', serif;
  font-weight: 700;
  color: #000;
  opacity: 1;
}

.name{
  opacity: 1.1;
  text-decoration: none;

}

.bookt:hover{
  text-decoration: wavy underline;
  text-decoration-color: #219C90;
  cursor: alias;

}

.name:hover{
  text-decoration: wavy underline;
  text-decoration-color: blue;
  text-decoration-thickness: 3px;
  text-underline-offset: 2px;
  cursor: alias;

}
.join:hover{
  text-decoration: wavy underline;
  text-decoration-color: blue;
  text-decoration-thickness: 3px;
  text-underline-offset: 2px;
  cursor: alias;

}

.mahathaan{
  color: #000;
  text-decoration: none;
}

.mahathaan:hover{
  cursor: alias;
}

.hover-container {
  position: relative;
  display: inline-block;
}

.pop-text{
  text-decoration: none;
  color: #fafafa;
}

.pop-text:hover{
  cursor: alias;
}

.hover-popup {
  display: none;
  position: absolute;
  font-size: 1rem;
  font-weight: 500;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
}

.hover-container:hover .hover-popup {
  display: block;
  cursor: alias;
}
/* .hover-container:hover .hover-trigger {
  color: #ff9900; 
} */


.foss{
  color: #73777B;
  text-decoration: none;
  cursor: alias;
}

.foss:hover{
  text-decoration: 5px dotted underline;
  text-decoration-color: #73777B;
  text-decoration-thickness: 4px;
  text-underline-offset: 2px;
  cursor: alias;

}

menu, ol, ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.socials-ul{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.socials-ul li{
  color: #000000;
}

.op-05{
  opacity: 0.5;
  font-weight: 500;
}


::-webkit-scrollbar {
    width: 2px;
  }
::-webkit-scrollbar-track{
    background-color: #fff;
  }
    
::-webkit-scrollbar-thumb {
    background-color: #ffc107;
  }
  
@media (max-device-width: 480px) {
  
:root{
  font-size: 16px;
}

.logo-sec{
  text-align: center;
  align-items: center;

}

.logo-sec p{
  text-align: justify;
}

.logo{
  margin-top: 1rem;
}

.main{
  margin: 1rem;
}

.main-text > h1{
  font-size: 1.7rem;
}

.main-text > h2{
  font-size: 1.1rem;
  margin: 0;
}

.main-text > p{
  font-size: 1.3rem;
  width: 100%;
}

.main > p {
  width: 100%;
}

.cgpt{
  text-align: center;
}

.socials-ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.socials-ul li{
  color: #000000;
}

.socials-li{
  padding: 1rem 0.6rem;
}
  
.navbar a {
  display: inline-flex;
  font-size: 1rem;
  text-decoration: none;
  color: #333;
  align-items: center;
  margin: 0;
  padding: 0.5rem;
  transition: outline 0.3s ease;
}

.navbar {

  display: flex;
  row-gap: 2px;
  background-color: #fafafa;
  border-radius: 5px;
  margin: 0;
  margin-top: 2rem;
  padding: 0;
  width: auto;
  justify-content: center;
  align-items: center;

}

.navbar a:hover {
  background-color: #fafafa;
  border-radius: 5px;
  border-bottom: 2px solid #ffc107;
  transition: border-bottom 0.3s ease;
}

 
.footer{
  display: none;
}






}

.main{
  margin-bottom: 1.5rem;
}